body {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 180vh;
}

#app {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180vh;
    width: 100vw;
    align-items: stretch;
    text-align: center;
    font-size: 1.6vmin;
}

#app div {
    flex-grow: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.nav {
    background-color: rgba(211, 211, 211, 0.3);
    display: inline;
    text-decoration: none;
    padding: 10px;
    float: left;
    cursor: pointer;
}

.nav:hover {
    background-color: rgb(18, 164, 248);
}

.nav a {
    text-decoration: none;
    color: black;
}

.giftSlides,
.clothesSlides,
.artisanSlides {
    display: none;
    max-width: 60vw;
    max-height: 36vh;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    text-align: left;
    padding-left: 2%;
    font-size: 1.6vmin;
}

.logo {
    position: fixed;
    width: 40px;
    height: 40px;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

.sections {
    display: flex;
}

.navbutt-left {}

.navbutt-right {}