{% extends 'base.html'%} {% block content %}



<div id="top">
    <img src="static/blueflukes.png">
    <!-- <h1 style="background-color: rgb(30, 65, 102); padding: 1.2%;">FLUKES</h1> -->
    <p>Eclectic array of quirky hand-crafted gifts <br> Local artisan produce: honey, chocolate, jams, chutneys and sauces <br> Clothing, jewellery and flowers</p>
</div>
<div id="main">
    <ul id="navList">
        <li class="nav noselect">Artisan produce</li>
        <li class="nav noselect">Clothing/Jewellery</li>
        <li class="nav noselect">Giftware</li>
    </ul>
    <div class="sections">
        <img class="artisanSlides" src="static/products/abalone.jpg">
        <img class="artisanSlides" src="static/products/honey.jpg">
        <div style="display: flex; flex-direction: row;">
            <button class="w3-button navbutt-left" onclick="plusDivs(-1, document.getElementsByClassName('artisanSlides'))">&#10094;</button>
            <button class="w3-button navbutt-right" onclick="plusDivs(+1, document.getElementsByClassName('artisanSlides'))">&#10095;</button>
        </div>
    </div>
    <div class="sections" style="display: none;">
        <img class="clothesSlides" src="static/products/clothes.jpg">
        <img class="clothesSlides" src="static/products/boots.jpg">
        <div style="display: flex; flex-direction: row;">
            <button class="w3-button navbutt-left" onclick="plusDivs(-1, document.getElementsByClassName('clothesSlides'))">&#10094;</button>
            <button class="w3-button navbutt-right" onclick="plusDivs(+1, document.getElementsByClassName('clothesSlides'))">&#10095;</button>
        </div>
    </div>
    <div class="sections" style="display: none;">
        <img class="giftSlides" src="static/products/elves.jpg">
        <img class="giftSlides" src="static/products/ducks.jpg">
        <img class="giftSlides" src="static/products/mosaic_whale.jpg">
        <div style="display: flex; flex-direction: row;">
            <button class="w3-button navbutt-left" onclick="plusDivs(-1, document.getElementsByClassName('giftSlides'))">&#10094;</button>
            <button class="w3-button navbutt-right" onclick="plusDivs(+1, document.getElementsByClassName('giftSlides'))">&#10095;</button>
        </div>
    </div>
</div>
<div id="bottom">sup</div>


{% endblock %}